<div class='zestard-bloglist' store_id='zeHKwKxAXWVI2' product_id='{{ product.id }}'>
    <div class="loader"><img height="130" width="130" src='https://zestardshop.com/shopifyapp/related-products-and-blogs/public/image/loader_new.svg'/></div>
</div>
<script type="text/javascript" src="https://zestardshop.com/shopifyapp/related-products-and-blogs/public/js/related-products-and-blogs.js"></script>